################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/LeetCode/obj
/.vs
/LeetCode/.vs/LeetCode/v16/Server/sqlite3
LeetCode/LeetCode/bin/Debug/netcoreapp2.2/LeetCode.dll
LeetCode/.vs/LeetCode/DesignTimeBuild/.dtbcache
LeetCode/.vs/LeetCode/v16/.suo
LeetCode/.vs/LeetCode/v16/Server/sqlite3/storage.ide
LeetCode/LeetCode/bin/Debug/netcoreapp2.2/LeetCode.pdb
/.vscode
/LeetCode/LeetCode/bin/Debug/netcoreapp2.2
